<div class="container">
      <div class="form-group">
        <label for="todo">Enter your task:</label>
        <input type="text" class="form-control" name="todo">
      </div>
     <button type="submit" class="btn btn-primary">Submit</button>
</div>
